html,
body {
  background: linear-gradient(132deg, rgba(255, 255, 255, 0.882), rgba(255, 255, 255, 0.918));
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
}


nav {
  background: linear-gradient(132deg, rgba(228, 224, 225, 0.882), rgb(240, 240, 240) 100%);
  color: white;
  list-style: none;
  gap: 32px;
  padding: 20px;
  margin-left: 0px;
  color: rgba(74, 6, 6, 0.908);


            
}
.boton > Link {
  color: white;
}

.boton:hover {
  background-color: bisque;
  text-decoration: none;
  color: black;
}
.texto {
  color: aqua;
  font-size: 40px;
}

a {
  color: inherit;
  text-decoration: none;
}

.landing {
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: linear-gradient(132deg, rgb(7, 18, 224), rgba(2, 6, 43, 0.592) 70.71%)
  }
} */


