
@import url("../utils/HelveticaFont/style.css");

html,
body {
  background: linear-gradient(132deg, rgba(255, 255, 255, 0.882), rgba(255, 255, 255, 0.918));
  padding: 0;
  margin: 0;
  font-family: "Heebo", sans-serif;
  width: 100%;
  /* height: 400vh; */
  font-size: 100%;
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
}

.body2 {
  overflow-x: hidden;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.landing {
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

#fondo {
  /* background: linear-gradient(123deg, rgb(236, 13, 13), rgb(1,1,2)); */
  color: rgba(220, 220, 220, 0.2);
  width: 100%;
  font-size: 11rem;
  text-shadow: 6px 6px 6px rgba(199, 199, 199, 0.825) ;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  z-index: 1;
  margin-bottom: 0;
}

.textomenu {
  font-size: 2rem;
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: linear-gradient(132deg, rgb(7, 18, 224), rgba(2, 6, 43, 0.592) 70.71%)
  }
} */


.big-cont {
  height: 400vh;
}

.boton:hover {
  cursor: pointer;
  /* background-color: aqua; */
}

.bigfont {
  font-family: "Carlos", "Monserrat";
  font-size: 10vh;
}

.navigation {
  position: sticky;
  top: 18px;
  z-index: 3;
}

h3 {
  font-family: "Carlos", "Monserrat";
  font-size: larger;
  letter-spacing: 4px;
}
h2 {
  font-family: "Monserrat", sans-serif;
  font-size: small;
  letter-spacing: 2px;
  color: rgb(141, 141, 141);
}

ul {
  list-style: none;
  /* list-style-position: 12px; */
  margin-left: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;

}

p {
  font-family: "Heebo", sans-serif;
}

.clickeable:hover {
  border-bottom: 1px black solid;
  color: black;
}

.grot {
  font-size: 20px;
  font-family: "Carlos", sans-serif;
}

.grot em {
  color: gray;
}
/* .imageneitor {
  height: 30vh;
} */

.logo {
  width: 30px;
  height: 30px;
}

.transition {
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 3;
}